@page
@model MyApp.Namespace.QueryCrudModel
@{
    ViewData["Title"] = "QueryCrud";
}

<form method="post" novalidate>
<div class="row text-center">
@* Query Section Start*@
<div class="col-6 justify-content-center">
	<h5>Supplies Query</h5>
	<div class="row mb-3 justify-content-center">
		<div class="col-2">
			<label for="SelectedJobId" class="col-form-label">Job</label>
		</div>
		<div class="col-4">
			<select class="form-select" id="SelectedJobId"     		      name="SelectedJobId">
				<option value="0">select ...</option>
				@if(Model.SelectListOfJobs != null)
				{
					@foreach (var item in Model.SelectListOfJobs)
					{
						<option value="@item.ValueField" 
							selected=@(Model.SelectedJobId == item.ValueField)>
							@item.DisplayField
						</option>
					}
				}
			</select>
		</div>
		<div class="col-2">
			<button type="submit" class="btn btn-dark" 
				name="ButtonPressed" value="SearchByJob">
				Search
			</button>
		</div>
	</div>
	@if(Model.SearchedSupplies != null)
	{
		<div id="table_box_bootstrap">
		<table class="table table-hover">
		<thead>
		<tr>
			<th>Action</th>
			<th>SupplyId</th>
			<th>JobId</th>
			<th>Material</th>
			<th>Quantity</th>
			<th>MaterialCost</th>       
		</tr>
		</thead>
		<tbody>
		@if(Model.SearchedSupplies.Count == 0)
		{
		<tr><td colspan="6"><i>There are no Supplies available.</i></td></tr>
		}
		@foreach(var item in Model.SearchedSupplies)
		{
		<tr>
			<td>
				<button type="submit" class="btn btn-dark" 
				name="Supply.SupplyId" value="@item.SupplyId">
				Edit
				</button>
			</td>
			<td>@item.SupplyId</td>
			<td>@item.JobId</td>
			<td>@item.Material</td>
			<td>@item.Quantity</td>
			<td>@item.MaterialCost</td>
		</tr>
		}
		</tbody>
		</table>
		</div>
	}
</div>
@* Query Section End*@
</div>
</form>
