@page
@model MyApp.Namespace.ProductLineModel
@{
	ViewData["Title"] = "ProductLine";
}
<h5>Product Line</h5>
@{
	if (Model.TheProductLine != null)
	{
		<h6>@Model.TheProductLine.Supplier.CompanyName</h6>
		<h6>@Model.TheProductLine.Supplier.PhoneNumber</h6>
		<table class="table table-hover">
			<thead>
				<th>Name</th>
				<th>Category</th>
				<th>QuantPerUnit</th>
				<th>UnitPrice</th>
				<th>Dis</th> 
			</thead>
			<tbody>
				@foreach (var item in Model.TheProductLine.Products)
				{
					<tr>
						<td>@item.ProductName</td>
						<td>@item.Category</td>
						<td>@item.QuantityPerUnit</td>
						<td>@item.UnitPrice</td>
						<td>
							<input type="checkbox" disabled checked="@item.Discontinued">
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
}